<!DOCTYPE html>
<html>
<body>
<div style="background: #f2f2f2; font-family: Arial, sans-serif; padding:10px;">
    <h1 style="margin: 10px; 20px;">
        <img src="{{ absolute_url(asset('/bundles/nssentinel/images/logo.jpg')) }}" alt="logo" />
    </h1>
    <div style="background: #ffffff; border-radius: 10px; margin: 10px;overflow: hidden;">
        <h1 style="background: #438eb9; color: #ffffff; padding: 10px; font-weight: normal; margin: 0;">Password reset request</h1>
        <div style="padding:10px;">
            <p>Hello, {{user}}, </p>
            <p>We've received a request to reset your password. To reset the password please follow Your login password has been reset. Please follow this link:
            {{ absolute_url(url('resetPassword', {'token': generate_short_token(user.id, user.email) }) ) }} to enter a new password.</p>
        </div>
    </div>
</div>
</body>
</html>
