{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="error-container">
                    <div class="well">
                        <h1 class="grey lighter smaller"><span class="blue bigger-125"><i class="fa fa-random"></i>{{ status_code }} </span>{{ status_text }}</h1>
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
{% endblock %}
