{%extends "NSSentinelBundle::layout.html.twig" %}
{% block pagetitle %}{{'Create Remote Server'|trans}}{%endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="widget-box no-border">
            <div>
                <form action="{{path('ApiCreateRemote')}}" method="POST" novalidate>
                    {{form_rest(form)}}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
