/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/nbproject/private/
bin
*.xls*
*.ppt*
NuviSync
*.od*
/tmp
/web/ace
composer
.vagrant
Vagrantfile
Makefile
*.rpm
packagin*
provision.yml
templates/
tmp2/
web/bangladesh.php
web/coverage
