{%extends "NSSentinelBundle::layout.html.twig" %}

{% block body %}
<div class="layoutSection">
    <div class="column span3">
        <div class="panel dataPanel">
            <h3 class="panelTitle">Country Cases</h3>
            <div class="panelContent">
                <table class="dataTable highlightRow zebra">
                    <colgroup span="1"></colgroup>
                    <colgroup span="3"></colgroup>
                    <colgroup span="1"></colgroup>

                    <tbody>
                    <tr class="odd">
                        <th>DOB</th>
                        <th>Age In Months</th>
                        <th>HIB Received</th>
                        <th>HIB Doses</th>
                        <th>Actions</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
