{%extends "NSSentinelBundle::layout.html.twig" %}

{% block body %}
<div class="error-container">
    <div class="well">
        <h1 class="grey lighter smaller">
            <span class="blue bigger-125"><i class="fa fa-warning-sign"></i> </span>
            {{ message }}
        </h1>
    </div>
</div>
{% endblock %}