{%extends "NSSentinelBundle::layout.html.twig" %}

{% block body %}
<div class="error-container">
    <div class="well">
        <h1 class="grey lighter smaller">
            <span class="orange bigger-125"><i class="fa fa-warning"></i> </span>
            Error
        </h1>
        {{ message }}
    </div>
</div>
{% endblock %}
