<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false"
    bootstrap                   = "bootstrap.php.cache" >

    <testsuites>
        <testsuite name="WHO NUVI Sentinel Tests">
            <directory>../src/*/*Bundle/Tests</directory>
            <directory>../src/*/Bundle/*Bundle/Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="memory_limit" value="768M" />
    </php>

    <filter>
        <whitelist>
            <directory>../src</directory>
            <exclude>
                <directory>../src/*/*Bundle/Resources</directory>
                <directory>../src/*/*Bundle/Tests</directory>
                <directory>../src/*/Bundle/*Bundle/Resources</directory>
                <directory>../src/*/Bundle/*Bundle/Tests</directory>
                <directory>../src/*/Bundle/*Bundle/Command</directory>
                <directory>../src/NS/ApiDocBundle</directory>
                <directory>../src/NS/SonataBundle</directory>
                <directory>../src/NS/TranslateBundle</directory>
                <directory>../src/*/*Bundle/Features</directory>
                <directory>../src/*/*Bundle/DataFixtures</directory>
                <file>../src/*/*Bundle/*Bundle.php</file>
                <file>../src/*/*Bundle/DependencyInjection/Configuration.php</file>
                <file>../src/*/*Bundle/DependencyInjection/*Extension.php</file>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
