/* 
    Created on : Dec 7, 2013, 9:07:16 AM
    Author     : gnat
*/

input, select, textarea {
    max-width: 100%;
}

.input-group.inputOrSelect {
    width: 100%;
    max-width: 400px;
}

.input-group.inputOrSelect input {
    position: absolute;
    z-index: 10;
    width: 90%;
    border: none;
    margin: 1px 0 0 1px;
    height: 94%;
}

.input-group.inputOrSelect input + select {
    width: 100%;
}

.input-group.inputOrSelect input + select option[value=""] {
    padding: 3px 4px;
}

.specimenCollection .infobox {
    width: 100%;
    padding: 10px;
}

.specimenCollection .infobox-progress {
    display: inline-block;
    vertical-align: middle;
}

.specimenCollection .infobox-data {
    display: inline-block;
    vertical-align: middle;
}

td.field-preProcessor table {
    width: 200px;
}

td.field-mapper .chosen-container{
    max-width: 360px;
}

td.field-converter .chosen-container{
    max-width: 160px;
}

th.field-ignored input.ace.ace-switch[type="checkbox"] + .lbl::before {
    font-size: 10px;
}

.progress {
    background: #666666;
}

.progress-label {
    position: absolute;
    z-index: 100;
    margin-left: 10px;
    color: #ffffff;
}

.progress-row .progress {
    margin-bottom: 0;
    height: 20px;
}

.form-group.error {
    background-color: #F2EAEA;
}
