/* 
    Created on : Dec 7, 2013, 9:07:16 AM
    Author     : gnat
*/

form.reportFilters > div:not(.form-group) {
    margin-right: 0.5em;
    display: inline-block;
}

input, select, textarea {
    max-width: 100%;
}

.input-group.inputOrSelect {
    width: 100%;
}

input.inputOrSelect {
    position: absolute;
    width: 90%;
    border: none;
    margin: 1px 0 0 1px;
    height: 94%;
}

input.inputOrSelect + select.inputOrSelect {
    width: 100%;
}

input.inputOrSelect + select.inputOrSelect option[value=""] {
    padding: 3px 4px;
}

.specimenCollection .infobox {
    width: 100%;
    padding: 10px;
}

.specimenCollection .infobox-progress {
    display: inline-block;
    vertical-align: middle;
}

.specimenCollection .infobox-data {
    display: inline-block;
    vertical-align: middle;
}

td.field-preProcessor table {
    width: 200px;
}

td.field-mapper .chosen-container{
    max-width: 360px;
}

td.field-converter .chosen-container{
    max-width: 160px;
}

th.field-ignored input.ace.ace-switch[type="checkbox"] + .lbl::before {
    font-size: 10px;
}

.progress {
    background: #666666;
}

.progress-row .progress {
    margin-bottom: 0;
}