{% if admin.hasroute('list') and admin.isGranted('LIST')%}
    <a class="btn btn-xs sonata-action-element" href="{{ admin.generateUrl('list') }}">
        <i class="fa fa-list"></i>
        {{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}</a>
{% endif %}
