{% if admin.hasroute('show') and admin.id(object) and admin.isGranted('VIEW', object) and admin.show|length > 0 %}
    <a class="btn btn-xs btn-inverse sonata-action-element" href="{{ admin.generateObjectUrl('show', object) }}">
        <i class="fa fa-eye"></i>
        {{ 'link_action_show'|trans({}, 'SonataAdminBundle') }}</a>
{% endif %}