{% block CTValueType_row %}
    {{form_label(form)}}
    <div class="row">
        <div class="col-md-4">
            <div class="input-group inputOrSelect">
                {{form_widget(form.number)}}
                {{form_widget(form.choice)}}
            </div>
        </div>
    </div>
{% endblock %}
