<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">{{case_big_actions(row)}}</div>
<div class="visible-xs visible-sm hidden-md hidden-lg">
    <div class="inline position-relative">{{case_sm_actions(row)}}</div>
</div>